<div class="language-selector-container">
  <ion-button (click)="toggleLanguageOptions()" fill="clear" class="language-button">
    <span class="language-flag">{{ getCurrentLanguageFlag() }}</span>
    <span class="language-name">{{ getCurrentLanguageName() }}</span>
  </ion-button>

  <ion-select 
    #langSelect
    [value]="selectedLanguage" 
    (ionChange)="onLanguageChange($event)"
    interface="alert"
    [interfaceOptions]="{cssClass: 'custom-alert-select'}"
    class="hidden-select">
    <ion-select-option *ngFor="let lang of languages" [value]="lang.code">
      <span class="flag-emoji">{{ lang.flag }}</span> {{ lang.name }}
    </ion-select-option>
  </ion-select>
</div> 