<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'CANTON.TITLE' | translate }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label>Canton</ion-label>
      <ion-select 
        [value]="selectedCanton" 
        (ionChange)="onCantonChange($event)"
        placeholder="{{ 'CANTON.SELECT_PLACEHOLDER' | translate }}">
        <ion-select-option *ngFor="let canton of cantons" [value]="canton.code">
          {{ 'CANTON.' + canton.code | translate }} ({{ canton.code }})
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
</ion-card>
